
* { /* remove default styles */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f2eee7;
}

nav {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    background-color: none;
    min-height: 10vh;
    max-height: 10vh;
}

.logo, .nav-links{
    display: flex;
    list-style: none;
    width: 40vh;
    font-size: 20px;
    align-items: center;
    margin: auto;
}

.menu {
    display: none;
    cursor: pointer;
    background-color: #f2eee7;
}

.menu div{ /* menu icon */
    width: 25px;
    height: 3px;
    background-color: #544c4b;
    margin: 5px;
}


.amyshao { /* home link */
    font-weight: 800;
    text-decoration: none;
    color: #544c4b;
}

.nav-links {
    z-index: 200;
    justify-content: space-around;
    width: 50%;
}

.nav-link {
    z-index: 220;
    text-decoration: none;
    color: #544c4b;
}

.nav-link:hover, .amyshao:hover, .fa:hover {
    opacity: 0.7;
}

/* icons */
.fa {
    flex: 1;
    padding: 5px;
    font-size: 30px;
    color: #544c4b;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 60vh;
        width: 35%;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: cadetblue;
        transform: translateX(100%);
    }
    .nav-link {
        color: white;
    }
    .fa {
        color: white;
    }
    .logo {
        justify-content: space-around;
    }
    .nav-links li {
        opacity: 0;
    } 
    .menu {
        display: block;
        padding: 20px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navfade {
    0% {opacity: 0; transform: translateX(-20px);}
    100% {opacity: 1; transform: translateX(0px);}
}


/*============== home page ==================*/


main {
    background-color: #f2eee7;
    height: 90vh;
}


/* the girl walking animation on home page */
.animation {
    display: block;
    height: 52vh;
    width: 100%;
}


/* girl walking animation code */
@keyframes girl-animation {
    0% {opacity: 1;}
    50% {left: 47%;}
    75% {left: 47%; }
    100% {left: 57%; right: 43%; position: fixed;}

}

.girl {
    max-height: 35%; 
    min-height: 10%;
    max-width: 40%;
    min-width: 50%;
    height: auto;
    width: auto;
    z-index: 101;
    position: fixed;
    top: 30%; left: 27%; right: 80%;
    animation-name: girl-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    z-index: 100;
}

.hello {
    max-height: 20%; 
    max-width: 50%;
    width: auto;
    height: auto;
    z-index: 50;
    position: fixed;
    top: 35%; left: 27%; right: 80%;
}

@keyframes home-text {
    0% {opacity: 0; top: 0%}
    80% {opacity: 0; top: 0px}
    100% {opacity: 1; top: 100px}
}

.home-text {
    height: 20vh;
    padding-left: 5vh;
    padding-right: 5vh;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    animation-name: home-text;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@media screen and (max-width: 1100px) {
    .girl {
        max-width: 100%;
        top: 33%;
    }
}

/* for phones */
@media screen and (max-width: 500px) {
    .girl {
        max-width: 40%;
        top: 33%;
        left: 0px;
    }
    .hello {
        left: 10%;
        max-width: 40%;
        
    }
    nav {
        align-items: right;
    }
}

@media screen and (max-width: 1300px) {
    .girl {
        max-width: 70%;
    }
}


/*============ about page =============*/


@keyframes fade {
    0% {opacity: 0; top: 0px}
    100% {opacity: 1; top: 10px}
}

.aboutme-main {
    display: flex;
}

.me-container {
    display: block;
    flex: 1;
    padding-top: 8vh;
    justify-content: space-around;
}

.me {
    display: block;
    max-width: 100%;
    max-height: 80%;
    padding-left: 10vh;
    height: auto;
    width: auto;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.about-text {
    flex: 1;
    width: 80%;
    padding-top: 12vh;
    padding-right: 10vh;;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


@keyframes fade-in {
    0% {opacity: 0; transform: translateX(50px);}
    100% {opacty: 1; transform: translateX(0px);}
}

.h1, .h2, .p1, .about-buttons {
    margin-top: 20px;
    animation: fade-in 1s ease forwards 0s;
}

.h1 {
    font-size: 40px;
    
}

.about-buttons {
    display: flex;
    height: 50px;
    width: 50vh;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

a.button {
    padding: 10px;
    margin: 5px;
    border: none;
    background: teal;
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
}

a.button:hover {
    border: none;
    background: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: teal;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .aboutme-main {
        flex-direction: column;
    }
    .me-container {
        padding-top: 5vh;
        height: 40vh;
        display: flex;
    }
    .me {
        max-height: 100%;
        padding-left: 0vh;
    }
    .about-text {
        padding-top: 0px;
        padding-right: 5vh;
        padding-left: 5vh;
        padding-bottom: 5vh;
        text-align: center;
        width: 100%;
    }
    .about-buttons {
        width: 100%;
        justify-content: center;
    }
    body {
        background-color: #f2eee7;
    }
}


/*============ code page ===============*/

@keyframes zoom {
    0% {transform: scale(1)}
    100% { transform: scale(1.05)}
}

.code-body {    
    background-color: none;
    background-image: url(./images/village.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

.palli-logo {
    width: 500px;
}

.palli {
   width: 50%;
}

.palli-icon {
    width: 20%;
}

.code-main {
    animation: zoom 2s ease forwards 0s;
    position: relative; 
    text-align: left;
    align-items: center;
    background-color: #FFFFFF00;
}

.code-text {
    animation: fade 2s ease forwards 0s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 20vh;
    height: auto;
    width: 50%;
    padding: 5vh;
    background-color: #FFFFFFa0;
}

.code-text .h2 {
    font-size: 20px;
    font-weight: normal;
}

.code-text .p1{
    color: #544c4b;
}

.code-text .h1 {
    font-size: 30px;
    color: #ef5d50;
    animation-duration: 2.5s;
}

.code-buttons {
    margin-top: 5vh;
    animation-duration: 3s;
}

.code-buttons .button {
    text-align: center;
    font-size: 18px;
    background-color: #ef5d50;

}

.code-buttons .button:hover {
    font-size: 18px;
    background-color: #3444e3;
    color: white;
}

.code-nav {
    background-color: #DFFCFF;
}

.code-nav .menu {
    background-color: #DFFCFF;
}

@media screen and (max-width: 1000px) {
    .code-text {
        display: flex;
        position: relative;
        height: auto;
        max-width: 60%;
        right: 10vh;
        left: 10vh;
        width: auto;
        padding: 2vh;
    }
    .code-text .h1, .code-text .h2 {
        width: 100%;
    }

    .code-nav .p1 {
        width: 95%;
        
    }
    .code-buttons .button, .code-buttons .button:hover {
        font-size: 13px;
        width: 120px;
        height: 40px
    }
    .palli-logo {
        max-width: 100%;
        width: auto;
    }

}