
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    margin: auto;
    align-items: center;
    background-color: #f2eee7;
    min-height: 10vh;
    max-height: 10vh;
}

.logo-container, .nav-links {
    display: flex;
    list-style: none;
    font-size: 20px;
    align-items: center;
}

.amyshao {
    font-weight: 800;
    margin: 5%;
    margin-right: 5%;
}


.logo-container {
    flex: 1;
    margin-left: 2%;
}

nav {
    flex: 2;
}

.nav-link {
    text-align: right;
    margin-left: 20px;
    text-decoration: none;
    color: #544c4b;
}

.logo-container img {
    width: auto;
    height: auto;
    min-width: 50px;
    min-height: 30px;
    max-width: 30px;
    max-height: 50px;
}

main {
    background-color: #f2eee7;
    height: 90vh;
}

.animation {
    background-color: teal;
    height: 70vh;
    justify-content: right;
}

.animation img {
    height: 30vh;
}

.home-text {
    height: 10vh;
    text-align: center;
}

